#home {
    height: 100vh;
    background: linear-gradient(to right, #B0ACAC, #B0ACAC);
    color: white;
    margin-bottom: 70px;
}

#skills{
    margin-top: 70px;
}

#containerhome{
    padding-top: 150px;
}
